body {
  margin: 0;
  font-family: Arial, sans-serif;
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
}


#logo {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}

#logo img {
  height: 4.5em;
}


.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 15px;
  position: relative;
  z-index: 2;
  width: 20%;
}

.burger-toggle {
  display: none;
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
}

.burger span {
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  left: 0;
  transition: all 0.3s ease;
}

.burger span:nth-child(1) {
  top: 0;
}

.burger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger span:nth-child(3) {
  bottom: 0;
}


.menu {
  position: absolute;
  top: 60%;
  left: 4px;
  height: 65vh;
  width: 100%;
  list-style: none;
  padding: 15px;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  gap: 10px;
  z-index: 2;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.burger-toggle:checked~.menu {
  display: flex;
}

.burger-toggle:checked+.burger span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
  background: white;
}

.burger-toggle:checked+.burger span:nth-child(2) {
  opacity: 0;
}

.burger-toggle:checked+.burger span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
  background: white;
}


.menu a {
  flex: 1;
  display: block;
  padding: 14px 22px;
  color: white;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 1px;
  border-radius: 8px;
  font-family: "SN Pro", sans-serif;
  font-weight: 600;
  font-style: normal;

  -webkit-text-stroke: 1px black;
  transition: background 0.25s ease, transform 0.2s ease;
}

@media (max-width: 1024px) {
  .menu a {
    font-size: 1.5em;
    padding: 12px 18px;
  }
}

@media (max-width: 768px) {
  .menu a {
    font-size: 1.2em;
    padding: 10px 14px;
  }
}

@media (max-width: 480px) {
  .menu a {
    font-size: 1em;
    padding: 8px 12px;
  }
}

.menu a::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(120deg,
      transparent 0%,
      rgba(255, 180, 60, 0.9) 45%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 180, 60, 0.9) 55%,
      transparent 100%);

  background-size: 200% 100%;
  background-position: -200% 0;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  pointer-events: none;
}


.menu a:hover {
  background: linear-gradient(90deg,
      rgba(255, 140, 0, 0.2) 0%,
      rgba(255, 180, 60, 1) 50%,
      rgba(255, 140, 0, 0.2) 100%);
  text-shadow: 0 0 8px rgba(255, 150, 50, 0.6);
  background-size: 200% auto;
  background-position: -200% center;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation: shine 1s linear forwards;
  transform: translateX(6px);
}


@keyframes shine {
  to {
    background-position: 200% center;
  }
}



@media (max-width: 500px) {
  .menu {
    width: 95%;
    padding-top: 60px;
  }
}

@media (max-width: 768px) {
  .menu {
    width: 95%;
    padding-top: 60px;
    height: 55vh;
  }
}

#flexbox {
  display: f;
}






.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
  z-index: -1;
  opacity: 0;
}

.bg1 {
  opacity: 1;
}

.bg2 {
  opacity: 0;
}

#toggle-wallpaper:checked~.bg1 {
  opacity: 0;
}

#toggle-wallpaper:checked~.bg2 {
  opacity: 1;
}


.hero-title {
  position: absolute;
  top: 9%;
  left: 45%;
  cursor: pointer;
  z-index: 1;
  text-align: center;
  user-select: none;
  font-family: "Trade Winds", system-ui;
  font-size: clamp(3rem, 5vw, 3rem);
  color: #fff;
  letter-spacing: 2px;
  text-shadow:
    0 0 8px rgba(255, 255, 255, 0.6),
    0 0 18px rgba(0, 150, 255, 0.5);
  transition: color 0.3s;
  overflow: visible;
  -webkit-text-stroke: 0.5px black;
}

.glitch:before,
.glitch:after {
  content: attr(data-glitch);
  position: absolute;
  inset: 0;
  opacity: 0;
  display: block;
  text-align: inherit;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}

.glitch:hover:before {
  opacity: 0.8;
  color: #8b00ff;
  z-index: -1;
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

.glitch:hover:after {
  opacity: 0.8;
  color: #00e571;
  z-index: -2;
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}

.glitch:hover {
  animation: shift 1s ease-in-out infinite alternate;
}


@keyframes glitch {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 3px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  60% {
    transform: translate(3px, 3px);
  }

  80% {
    transform: translate(3px, -3px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes shift {

  0%,
  40%,
  44%,
  58%,
  61%,
  65%,
  69%,
  73%,
  100% {
    transform: skewX(0deg);
  }

  41% {
    transform: skewX(10deg);
  }

  42% {
    transform: skewX(-10deg);
  }

  59% {
    transform: skewX(40deg) skewY(10deg);
  }

  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }

  63% {
    transform: skewX(10deg) skewY(-5deg);
  }

  70% {
    transform: skewX(-50deg) skewY(-20deg);
  }

  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}

#toggle-wallpaper:checked~.hero-title {
  animation: fadeToggle 18s linear infinite;
}

@keyframes fadeToggle {

  85%,
  100% {
    opacity: 0;
  }

  0%,
  84% {
    opacity: 0;
  }
}

.hero-title:hover:before {
  opacity: 0.8;
  color: #ff0000;
  z-index: -1;
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

.hero-title:hover:after {
  opacity: 0.8;
  color: #00e571;
  z-index: -2;
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}

.hero-title:hover {
  animation: shift 1s ease-in-out infinite alternate;
}



@media (max-width: 768px) {
  .hero-title {
    top: 11%;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero-title:hover,
  .hero-title:hover:before,
  .hero-title:hover:after {
    animation: none !important;
  }

  .glitch:before,
  .glitch:after {
    opacity: 0;
  }
}







#menu-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

#toggle-wallpaper {
  display: none;
}












#download {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}



.playstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all .2s ease;
  text-decoration: none;
}

.playstore-button:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-2 {
  font-weight: 600;
}

@media (max-width: 758px) {
  #download {
    flex-direction: column;
    gap: 1rem;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .playstore-button {
    width: 80%;
    justify-content: center;
    padding: 0.5rem 1rem;
  }

  .texts {
    margin-left: 0.5rem;
    flex-direction: column;
    align-items: center;
  }

  .text-1 {
    font-size: 0.65rem;
    margin-bottom: 0.2rem;
    text-align: center;
  }

  .text-2 {
    font-size: 0.8rem;
    text-align: center;
  }

  .icon {
    height: 1.4rem;
    width: 1.4rem;
  }
}









#logo_right {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 1vw;
}

.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: white;
  --second-color: white;
  --third-color: white;
  --fourth-color: white;
  --fifth-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  gap: 5px;
  height: 100px;
}

.loading span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
}

.loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
}

.loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
}

.loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
}

@keyframes scale {

  0%,
  40%,
  100% {
    transform: scaleY(0.05);
  }

  20% {
    transform: scaleY(1);
  }
}







.user-profile {
  width: 131px;
  height: 51px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  background: transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile:hover,
.user-profile:focus {
  background-color: transparent;
  box-shadow: transparent;
  outline: none;
}

.user-profile-inner {
  width: 127px;
  height: 47px;
  border-radius: 13px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #fff;
  font-weight: 600;
}

.user-profile-inner svg {
  width: 27px;
  height: 27px;
  fill: #fff;
}